.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 0;
}

.modal {
    background-color: white;
    padding: 30px;
    border-radius: 16px;
    width: 400px;  
    max-height: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal form {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    box-sizing: border-box;
}

.modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.modal-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;
}

.modal-field label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-field input,
.modal-field select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.modal-field select {
    background-color: #fff;
    cursor: pointer;
}

.save-button,
.cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.save-button {
    background-color: #4caf50;
}

.save-button:hover {
    background-color: #45a049;
}

.cancel-button {
    background-color: #8d8d8d;
}

.cancel-button:hover {
    background-color: #676767;
}