.searchAndBackSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th,
td {
    padding: 10px;
    border: none;
    text-align: left;
}

th {
    background-color: #496e4a;
    color: #ffffff;
}

.categories-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.category-row-header {
    cursor: pointer;
    transition: background-color 0.2s;
}

.category-row-header:hover {
    background-color: #f0f0f0;
}

.category-name {
    font-size: 16px;
    font-weight: bold;
}

.list-arrow {
    font-size: 18px;
    color: #000000;
    user-select: none;
    float: right;
}

.category-products {
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 8px;
}


