.custom-table {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    border: none;
    text-align: left;
}

.custom-table th {
    background-color: #496e4a;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    width: 100%;
}

.table-row-header {
    cursor: pointer;
    transition: background-color 0.2s;
}

.table-row-header:hover {
    background-color: #f0f0f0;
}

.table-arrow {
    font-size: 18px;
    color: #000000;
    user-select: none;
    float: right;
}

.table-details {
    font-size: 16px;
    color: #000000;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
}