.dashboard-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 0px;
    border-radius: 16px;
    background-color: #ffd364;
}

.dashboard-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.slider-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slick-list {
    max-width: 400px;
}

.slider-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.slider-image-wrapper img {
    border: 10px solid #ffd364;
    width: 350px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.info-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}

.info-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.info-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.info-image {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.text-box h3 {
    margin-top: 0px;
    font-size: 28px;
    font-weight: bold;
}

.text-box p {
    font-size: 20px;
}

@media (max-width: 1000px) {
    .dashboard-columns {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .slider-column,
    .info-column {
        width: 90%;
    }

    .slider-image-wrapper img {
        width: 100%;
        max-width: 350px;
    }

    .info-box {
        flex-direction: column;
        text-align: center;
    }

    .info-image {
        width: 80px;
    }
}

@media (max-width: 700px) {
    .slider-column {
        display: none;
    }

    .dashboard-columns {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .info-column {
        width: 90%;
    }

    .info-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-image {
        width: 60px;
        height: auto;
    }

    .text-box h3 {
        font-size: 20px;
    }

    .text-box p {
        font-size: 14px;
    }
}