table {
    margin-top: 40px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0;
}

th,
td {
    padding: 10px;
    border: none;
    text-align: left;
}

th {
    background-color: #496e4a;
    color: #ffffff;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-details {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}