.product-row-header:hover {
    background-color: #f0f0f0;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-details {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}

.filter-section {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter-label {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
