.sort-section {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #496e4a;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.sort-label {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.sort-button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: #496e4a;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.sort-button:hover {
    font-weight: bold;
}