.navbar {
  width: 250px;
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 10px 0 10px;
}

.navbar-list {
  list-style-type: none;
  padding-left: 0;
  border-radius: 10px;
}

.navbar-list li {
  margin-bottom: 20px;
  background-color: #ffffff;
}

.dashboard-button,
.shop-button,
.account-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
}

.dashboard-button:hover,
.shop-button:hover,
.account-button:hover {
  background-color: #e6e6e6;
  border-radius: 8px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  padding-left: 0;
  list-style: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
  
.dropdown-menu li {
  padding: 5px 0;
  margin: 0;
}

.dropdown-menu li a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;  
  border-radius: 6px;     
  transition: border-color 0.3s, background-color 0.3s;
  margin-bottom: 8px;         
}

.dropdown-menu li a:hover {     
  background-color: #f0f0f0;    
}

.button-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: top;
}