@import './styles/Categories.css';
@import './styles/Navigation.css';
@import './styles/ProductsInStore.css';
@import './styles/Products.css';
@import './styles/Shop.css';
@import './styles/Login.css';
@import './styles/SearchAndBack.css';
@import './styles/AddItemModal.css';

html {
  height: 100%;
  overflow: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
}

h1 {
  color: #333;
}